<div  class="ltn__about-us-area" id="section-template--15149160824899__165485074660d85cfa" data-section="aboutWithImage2" style="margin-top: 60px;">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-6 align-self-center">        
          <div class="about-us-img-wrap about-img-right"><span class="image-position-wrapper" style="padding-bottom: 66.7%;">
              <img srcset="//minimalin-demo.myshopify.com/cdn/shop/files/owner-getting-ready-reopening_270x.jpg?v=1691770343 270w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/owner-getting-ready-reopening_300x.jpg?v=1691770343 300w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/owner-getting-ready-reopening_328x.jpg?v=1691770343 328w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/owner-getting-ready-reopening_370x.jpg?v=1691770343 370w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/owner-getting-ready-reopening_420x.jpg?v=1691770343 420w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/owner-getting-ready-reopening_540x.jpg?v=1691770343 540w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/owner-getting-ready-reopening_570x.jpg?v=1691770343 570w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/owner-getting-ready-reopening_670x.jpg?v=1691770343 670w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/owner-getting-ready-reopening_770x.jpg?v=1691770343 1100w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/owner-getting-ready-reopening_900x.jpg?v=1691770343 900w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/owner-getting-ready-reopening_970x.jpg?v=1691770343 970w,
                           
                           "
                   loading="lazy"
                   src="../cdn/shop/files/owner-getting-ready-reopening_570x19a4.jpg?v=1691770343"
                   sizes="100vw"
                   width="1000"
                   height="667"
                   alt=""
                   class="image-position-size"
                   >
            </span></div>        
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="about-us-info-wrap"><h2>Minimal<span>in</span> E-Commerce</h2><p>MinimalinE-Commerce is a dynamic and innovative online retail platform that offers a wide range of products to customers worldwide. Established in 1191, our company has rapidly grown to become a prominent player in the eCommerce industry. Our mission is to provide customers with a seamless and convenient shopping experience while offering a diverse selection of high-quality products.</p><p>MinimalinE-Commerce is dedicated to setting new standards in the eCommerce landscape, providing convenience, choice, and quality to our valued customers.</p>
  </div>
        </div>
      </div>
    </div>
  </div>

  <div class="ltn__about-us-area" id="section-template--15149050855491__165485074660d85cfa" data-section="aboutWithImage2" style="margin-top: 50px;">
    <div class="container">
      <div class="row ">
        <div class="col-lg-6 align-self-center">        
          <div class="about-us-img-wrap about-img-right"><span class="image-position-wrapper" style="padding-bottom: 75.0%;">
              <img srcset="//minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_270x.jpg?v=1696861022 270w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_300x.jpg?v=1696861022 300w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_328x.jpg?v=1696861022 328w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_370x.jpg?v=1696861022 370w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_420x.jpg?v=1696861022 420w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_540x.jpg?v=1696861022 540w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_570x.jpg?v=1696861022 570w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_670x.jpg?v=1696861022 670w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_770x.jpg?v=1696861022 1100w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_900x.jpg?v=1696861022 900w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_970x.jpg?v=1696861022 970w,
                           
                           " loading="lazy" src="//minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-1_570x.jpg?v=1696861022" sizes="100vw" width="1000" height="750" alt="" class="image-position-size">
            </span></div>        
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="about-us-info-wrap"><h2>PureRadiance Youth Serum<span>.</span></h2><p>Experience the age-defying power of PureRadiance Youth Serum. This skincare marvel is meticulously formulated to rejuvenate and replenish your skin's youthful glow.</p><p>With a potent blend of natural ingredients and advanced technology, it diminishes fine lines, restores elasticity. </p>
  <div class="btn-wrapper mt-25">
              <a href="/products/wb-flower-flavor-liquid-soap" class="btn theme-btn-1 btn-effect-1">Shop Now</a>
            </div></div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ltn__about-us-area" id="section-template--15149050855491__061db53e-08f4-45fc-888a-626de0f1c985" data-section="aboutWithImage2" style="margin-top: 50px;">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-6 align-self-center">        
          <div class="about-us-img-wrap about-img-right"><span class="image-position-wrapper" style="padding-bottom: 75.0%;">
              <img srcset="//minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_270x.jpg?v=1696862225 270w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_300x.jpg?v=1696862225 300w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_328x.jpg?v=1696862225 328w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_370x.jpg?v=1696862225 370w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_420x.jpg?v=1696862225 420w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_540x.jpg?v=1696862225 540w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_570x.jpg?v=1696862225 570w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_670x.jpg?v=1696862225 670w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_770x.jpg?v=1696862225 1100w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_900x.jpg?v=1696862225 900w,
                           //minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_970x.jpg?v=1696862225 970w,
                           
                           " loading="lazy" src="//minimalin-demo.myshopify.com/cdn/shop/files/cosmetic-2_570x.jpg?v=1696862225" sizes="100vw" width="1000" height="750" alt="" class="image-position-size">
            </span></div>        
        </div>
        <div class="col-lg-6 align-self-center">
          <div class="about-us-info-wrap"><h2>Luminance Renewal Face Cream<span>.</span></h2><p>Rediscover your skin's natural luminance with our Luminance Renewal Face Cream. This luxurious formula is designed to deeply nourish, hydrate, and revitalize your skin. </p><p>Packed with potent antioxidants and age-defying ingredients, it minimizes the signs of aging, leaving your complexion smoother.</p>
  <div class="btn-wrapper mt-25">
              <a href="/products/ja-hydrating-moisturizer" class="btn theme-btn-1 btn-effect-1">Shop Now</a>
            </div></div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- VIDEO AREA START -->
<div  class="ltn__video-popup-area  " id="section-template--15149160824899__165875861590096ed5" data-section="popupVideoBanner">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="ltn__video-bg-img ltn__video-popup-height-600 bg-overlay-black-10-- bg-image" 
               
               data-bg="assets/cdn/shop/files/silver-earring_8_x110@2x0c79.png">
               
            <a class="ltn__video-icon-2 ltn__video-icon-2-border" href="https://www.youtube.com/embed/7m16dFI1AF8" data-rel="lightcase:lightcase:section-template--15149160824899__165875861590096ed5-myCollection">
              <i class="fa fa-play"></i>
             
            </a>
            <img src="assets/cdn/shop/files/silver-earring_8_x110@2x0c79.png" alt="" style="position: absolute;height: 500px;width: 800px;">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- VIDEO AREA END 01316 008516 -->


  <div class="container" style="background-color: #ebebeb;">
    <carousel>
      <slide *ngFor="let img of images; let index = index" [id]="'slide-' + index">
        <div class="ltn__slide-item-inner">
          <div class="container-alternative">
            <div class="row flex-row-reverse">
              <div class="" style="padding: 50px;">
              
                    <p style="text-indent: 50px;
                    letter-spacing: 3px; text-align: center;">{{ img.description }}</p>
                    <h3 class="" style="text-align: center;"> {{ img.title }} </h3>
               
              </div>
             
            </div>
          </div>
        </div>
      </slide>
    </carousel>
  </div>