<header id="section-sections--15086774026307__header" data-section="headerSection"
    class="ltn__header-area ltn__header-4 ltn__header-7 d-none d-sm-none d-md-none d-lg-none d-xl-block">
    <!-- ltn__header-top-area start -->
    <div class="ltn__header-top-area ">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="ltn__top-bar-menu">
                        <ul>
                            <li><a href="mailto:mapatel990490@gmail.com"><i class="icon-mail"></i></a> 
                            </li>
                            <li>
                                <a href="https://maps.app.goo.gl/y9g3vccddDfFZaDZ6"><i class="icon-placeholder"></i>Vastral, Ahmedabad, Gujarat 380058</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="top-bar-right text-right">
                        <div class="ltn__top-bar-menu">
                            <ul>
                                <!-- <li>
                                    <div class="ltn__drop-menu ltn__currency-menu ltn__language-menu">
                                        <ul>
                                            <li>

                                                <form method="post"
                                                    action="https://minimalin-demo.myshopify.com/localization"
                                                    id="localization_form" accept-charset="UTF-8"
                                                    class="shopify-localization-form" enctype="multipart/form-data">
                                                    <input type="hidden" name="form_type" value="localization" /><input
                                                        type="hidden" name="utf8" value="✓" /><input type="hidden"
                                                        name="_method" value="put" /><input type="hidden"
                                                        name="return_to" value="/" />
                                                    <div class="disclosure">
                                                        <button type="button" class="disclosure__button"
                                                            aria-expanded="false" aria-controls="LanguageList">
                                                            English
                                                        </button>
                                                        <ul id="LanguageList" role="list" class="disclosure__list">

                                                            <li class="disclosure__item" tabindex="-1">
                                                                <a href="#" aria-current="true" hreflang="en" lang="en"
                                                                    data-value="en">
                                                                    English
                                                                </a>
                                                            </li>

                                                            <li class="disclosure__item" tabindex="-1">
                                                                <a href="#" hreflang="es" lang="es" data-value="es">
                                                                    Español
                                                                </a>
                                                            </li>

                                                            <li class="disclosure__item" tabindex="-1">
                                                                <a href="#" hreflang="pt-PT" lang="pt-PT"
                                                                    data-value="pt-PT">
                                                                    Português (portugal)
                                                                </a>
                                                            </li>

                                                        </ul>
                                                        <input type="hidden" name="language_code" value="en">
                                                    </div>
                                                </form>

                                            </li>
                                        </ul>
                                    </div>
                                </li> -->

                                <li>
                                    <!-- ltn__social-media -->
                                    <div class="ltn__social-media">
                                        <ul>
                                            <li><a target="_blank" title="Facebook-f"
                                                    href="https://m.facebook.com/profile.php?id=100042848950787"><i
                                                        class="fab fa-facebook-f"></i></a></li>

                                                        <li><a target="_blank" title="Instagram"
                                                            href="https://www.instagram.com/prince._.2084/"><i
                                                                class="fab fa-instagram"></i></a></li>
                                           


                                            <li><a target="_blank" title="Youtube"
                                                    href="https://www.youtube.com/@mapatelprince7099"><i
                                                        class="fab fa-youtube"></i></a></li>
                                            
                                                        <!-- <li><a target="_blank" title="Twitter" href="https://twitter.com/shopify"><i
                                                            class="fab fa-twitter"></i></a></li>
     -->

                                         


                                            <!-- <li><a target="_blank" title="Tiktok"
                                                    href="https://www.tiktok.com/@shopify"><i
                                                        class="fab fa-tiktok"></i></a></li> -->


                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ltn__header-top-area end -->
    <style>
        .ltn__header-4 .ltn__header-top-area,
        .ltn__header-5 .ltn__header-top-area {
            border-color: rgba(0, 0, 0, 0);
        }

        .ltn__header-top-area {
            background-color: #111111;
        }

        .ltn__top-bar-menu,
        .ltn__header-top-area .ltn__drop-menu>ul>li .disclosure__button,
        .ltn__top-bar-menu>ul>li>i,
        .ltn__top-bar-menu>ul>li>a>i,
        .ltn__language-menu .dropdown-toggle:before,
        .ltn__drop-menu.ltn__language-menu>ul>li .disclosure__button:before {
            color: #ffffff;
        }
    </style>
    <!-- ltn__header-middle-area start -->
    <div class="ltn__header-middle-area ltn__header-sticky ltn__sticky-bg-white ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="site-logo"><a href="index.html" class="theme-logo">
                           <img style="height: 100px;width: 400px;" src="../../../assets/images/mealmate.jpg" alt="">
                        </a></div>
                </div>
                <div class="col header-menu-column">
                    <div class="header-menu d-none d-xl-block">
                        <nav>
                            <div class="ltn__main-menu">
                                <ul>
                                    <li><a routerLink="user/dashboard" href="index.html">Home</a></li>
                                    <li><a routerLink="user/products" href="products/b-n-badge-product.html">Products</a></li>
                                    <li><a routerLink="user/service" href="pages/service.html">Service</a></li>
                                    <li><a routerLink="user/contact" href="pages/contact.html">Contact</a></li>
                                    <li><a routerLink="user/about" href="pages/about-us.html">About us</a></li>
                                    <li><a routerLink="user/blog" href="blogs/news.html">Blog</a></li>
                                    <li><a routerLink="auth/registerdetails" href="blogs/news.html">Registration Details</a></li>
                                   
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col">
                    <div class="ltn__header-options">
                        <div class="ltn__drop-menu ltn__currency-menu default-currency-menu">
                            <ul>
                                <!-- <li>

                                    <form method="post" action="https://minimalin-demo.myshopify.com/localization"
                                        id="localization_form" accept-charset="UTF-8" class="shopify-localization-form"
                                        enctype="multipart/form-data"><input type="hidden" name="form_type"
                                            value="localization" /><input type="hidden" name="utf8" value="✓" /><input
                                            type="hidden" name="_method" value="put" /><input type="hidden"
                                            name="return_to" value="/" />
                                        <div class="disclosure">
                                            <button type="button" class="disclosure__button" aria-expanded="false"
                                                aria-controls="CountryList">
                                                IN (INR ₹)
                                            </button>

                                           

                                            <input type="hidden" name="country_code" value="IN">
                                        </div>
                                    </form>

                                </li> -->
                            </ul>
                        </div>

                        <!-- header-search-1 -->
                        <div class="header-search-wrap">
                            <div class="header-search-1">
                                <!-- <div class="search-icon">
                                    <i class="icon-search for-search-show"></i>
                                    <i class="icon-cancel  for-search-close"></i>
                                </div> -->
                            </div>
                            <div class="header-search-1-form">
                                <form action="https://minimalin-demo.myshopify.com/search" method="get" role="search"
                                    class="">
                                    <input id="Search" type="search" name="q" value="" role="combobox"
                                        aria-expanded="false" aria-owns="predictive-search-results-list"
                                        aria-controls="predictive-search-results-list" aria-haspopup="listbox"
                                        aria-autocomplete="list" autocorrect="off" autocomplete="off"
                                        autocapitalize="off" spellcheck="false" class="predictive-search-input"
                                        placeholder="Search our store">
                                    <button type="submit" class="btn icon-fallback-text">
                                        <span><i class="icon-search"></i></span>
                                    </button>
                                    <input name="options[prefix]" type="hidden" value="last">
                                    <div id="predictive-search" class="predictive-search-item" tabindex="-1"></div>
                                </form>



                            </div>
                        </div><!-- user-menu -->
                        <div class="ltn__drop-menu user-menu">
                            <ul>
                                <li>
                                    <a href="#"><i class="icon-user"></i></a>
                                    <ul>
                                        <li><a href="account/login4236.html">My Account</a></li>
                                        <li><a routerLink="user/wishlist">Wishlist</a></li>
                                        <li>
                                            <a href="account/login.html">Login</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- mini-cart -->
                        <span (click)="toggleCart()">

                            <app-cart-counter [CartCounter]="cartCount" ></app-cart-counter>
                        </span>
                        <!-- Mobile Menu Button -->
                        <div class="mobile-menu-toggle d-xl-none">
                            <a href="#ltn__utilize-mobile-menu" class="ltn__utilize-toggle">
                                <svg viewBox="0 0 800 600">
                                    <path
                                        d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200"
                                        id="top"></path>
                                    <path d="M300,320 L540,320" id="middle"></path>
                                    <path
                                        d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190"
                                        id="bottom" transform="translate(480, 320) scale(1, -1) translate(-480, -318) ">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ltn__utilize-cart-menu" class="ltn__utilize ltn__utilize-cart-menu" [ngClass]="{ 'active': isCartOpen }">
        <div class="ltn__utilize-menu-head">
            <span class="ltn__utilize-menu-title">Cart</span>
            <button class="ltn__utilize-close" (click)="closeCart()">×</button>
        </div>
       <app-cart></app-cart>
    </div>
    
    
    <!-- ltn__header-middle-area end -->
</header>