<div class="table-container">
    <table>
        <thead>
          <tr style="position: fixed;">
            <th style="width: 300px;text-align: center;">ProductName</th>
            <th style="width: 300px;text-align: center;">description</th>
            <th style="width: 300px;text-align: center;">price</th>
            <th style="width: 300px;text-align: center;">stockQuantity</th>
            <th style="width: 300px;text-align: center;">ProductImage</th>
            <th style="width: 300px;text-align: center;">Button</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ProductData">
            <td style="width: 220px;">{{ item.name }}</td>
            <td style="width: 213.5px;">{{ item.description }}</td>
            <td style="width: 198.5px;">{{ item.price }}</td>
            <td style="width: 220px;">{{ item.stockQuantity }}</td>
            <td style="width: 221.5px;">
                <img *ngFor="let image of item.ProductImage" [src]="baseImageUrl + image.imageUrl" style="height: 100px;width: 100px;"></td>
            <td style="width: 220px;">
              <div style="display: flex;justify-content: center;">
                <button class="delete-btn" style="padding: 3px 10px;" (click)="deleteproduct(item.productId)">Delete</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
</div>

