<div id="shopify-section-sections--15086773928003__footer" class="shopify-section shopify-section-group-footer-group">
    <!-- FOOTER AREA START (ltn__footer-2 ltn__footer-color-2) -->
    <footer class="ltn__footer-area" data-section="footerActive" id="section-sections--15086773928003__footer" style="background-color: #dc35454d;margin-top: 30px;">
        <div class="footer-top-area section-bg-1  ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-5">
                        <div class="footer-widget footer-about-widget clearfix">
                            <h4 class="footer-title">About Us.</h4>
                            <p>Minimal E-Commerce is a dynamic and innovative online retail platform that offers a wide
                                range of products to customers worldwide.</p>
                            <div class="ltn__social-media">
                                <ul>
                                    <li><a target="_blank" title="Facebook-f" href="https://www.facebook.com/shopify"><i
                                                class="fab fa-facebook-f"></i></a></li>


                                    <li><a target="_blank" title="Twitter" href="https://twitter.com/shopify"><i
                                                class="fab fa-twitter"></i></a></li>



                                    <li><a target="_blank" title="Youtube"
                                            href="https://www.youtube.com/user/shopify"><i
                                                class="fab fa-youtube"></i></a></li>


                                    <li><a target="_blank" title="Instagram"
                                            href="https://www.instagram.com/shopify/"><i
                                                class="fab fa-instagram"></i></a></li>


                                    <li><a target="_blank" title="Tiktok" href="https://www.tiktok.com/@shopify"><i
                                                class="fab fa-tiktok"></i></a></li>


                                </ul>
                            </div>
                           
                        </div>
                        <style>
                            .ltn__social-media-4 ul li a {
                                background-color: #ffffff;
                                color: #111111;
                            }
                        </style>
                    </div>
                    <div class="d-none d-lg-block col-lg-1">

                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-2">
                        <div class="footer-widget widget-collapse footer-menu-widget clearfix">
                            <h4 class="footer-title">Quick Link <span></span></h4>
                            <div class="footer-menu widget-collapse-hide">
                                <ul>
                                    <li><a href="account/login4236.html">My Account</a></li>
                                    <li><a href="cart.html">My Cart</a></li>
                                    <li><a href="pages/wishlist.html">Wishlist</a></li>
                                    <li><a href="index.html">Gift Card</a></li>
                                    <li><a href="pages/contact.html">Need Help?</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-2">
                        <div class="footer-widget widget-collapse footer-menu-widget clearfix">
                            <h4 class="footer-title">Information <span></span></h4>
                            <div class="footer-menu widget-collapse-hide">
                                <ul>
                                    <li><a href="pages/about-us.html">About us</a></li>
                                    <li><a href="pages/contact.html">Contact</a></li>
                                    <li><a href="blogs/news.html">Blogs</a></li>
                                    <li><a href="pages/size-chart.html">Size Chart</a></li>
                                    <li><a href="pages/faq.html">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-2">
                        <div class="footer-widget widget-collapse footer-menu-widget clearfix">
                            <h4 class="footer-title">Policies <span></span></h4>
                            <div class="footer-menu widget-collapse-hide">
                                <ul>
                                    <li><a href="policies/privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="policies/refund-policy.html">Refund Policy</a></li>
                                    <li><a href="policies/terms-of-service.html">Terms of Service</a></li>
                                    <li><a href="policies/shipping-policy.html">Shipping Policy</a></li>
                                    <li><a href="policies/contact-information.html">Contact Information</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>